<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_store"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.RetailStoreHome">
        <activity android:name=".ProductManagerActivity" />
        <activity android:name=".SellerDashboardActivity" />
        <activity android:name=".OrderHistoryActivity" />
        <activity android:name=".CustomerInfoActivity" />
        <activity android:name=".CartActivity" />
        <activity android:name=".ProductDetailActivity" />

        <activity android:name=".LoginActivity" />
        <activity android:name=".AddProductActivity" />
        <activity android:name=".ProductListActivity" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
